//   Created by chinna on 4/7/14.
section.container
    .row
        .col-lg-12
            h2(class='text-center') Add New Task
            br
            .panel.panel-info
                .panel-heading
                    | Task Details
                .panel-body
                    form#taskForm(name='taskForm',class='form-horizonal',type='form',novalidate)
                        .col-lg-6
                            .form-group.has-warning
                                label.control-label(for="project-name")
                                    | Project
                                    span(style='color:red') *
                                select#projectname.form-control(
                                name='projectName',
                                ng-model='projectName',
                                ng-options='p.title as p.title for p in projects',
                                ng-change='changeProject()',
                                required,
                                autofocus)
                                    option(value='',selected) -- Select Project --
                            .form-group.has-warning
                                label.control-label(for='task-summary')
                                    | Task Summary
                                    span(style='color:red') *
                                div(ng-class="{ 'has-error' : taskForm.taskSummary.$invalid }")
                                    input#taskSummary.form-control(type='text',name='taskSummary',ng-model='task.summary',placeholder='Task Summary',required)
                                    small(class="label label-danger",ng-show="taskForm.taskSummary.$invalid && taskForm.taskSummary.$dirty") Required Task Summary
                            .form-group.has-warning
                                label.control-label(for='task-dueDate')
                                    | Due Date
                                    span(style='color:red') *
                                input#dueDate.form-control(type='date',name='dueDate',ng-model='task.dueDate', required)
                                small(class="label label-danger",ng-show="taskForm.dueDate.$invalid && taskForm.dueDate.$dirty") Requried Due Date
                        .col-lg-6
                            .form-group.has-warning
                                label.control-label(for='task-priority')
                                    | Priority
                                    span(style='color:red') *
                                select#priority.form-control(
                                    name='priority',
                                    ng-model='task.priority',
                                    required)
                                    option(value='',selected) -- Select Priority --
                                    option(value='') Major
                                    option(value='') Minor
                                    option(value='') Blocker
                                    option(value='') Trivial
                                    option(value='') Critical
                            .form-group.has-warning
                                label.control-label(for='assignee')
                                    | Assignee
                                    span(style='color:red') *
                                select#assignee.form-control(
                                    name='assignee',
                                    ng-model='assignee',
                                    required)
                                    option(value='',selected) -- Select Assignee --
                            .form-group.has-warning
                                label.control-label(for='task-description')
                                    | Description
                                textarea#description.form-control(type='text',ng-model='task.description',name='description',placeholder='Description')
                        div
                            button.btn.btn-info(type='button', ng-click='addTask()', style="margin-right: 10px")
                                | Create New
                            input.btn.btn-warning(type='reset',value='Reset')
            .col-lg-12
                .alert.alert-success(ng-show="addTaskMessage")
                    i.fa.fa-check-circle-o
                    | Task created successfully...